body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #ffffff, #c6c384);

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* centra verticalmente */
}

.container {
    width: 90%;
    max-width: 450px;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(8px);

    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;

    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.bio {
    color: #555;
    margin-top: -8px;
}

.socials img {
    width: 30px;
    margin: 0 7px;
    opacity: 0.85;
}

.links {
    margin-top: 20px;
}

.btn {
    display: block;
    background: white;
    margin: 12px 0;
    padding: 15px;
    border-radius: 18px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.02);
}

.big-image {
    width: 100%;
    border-radius: 20px;
    margin-top: 30px;
}

.socials a {
    transition: transform 0.3s ease, filtter 0.3s ease;
    display: inline-block;
}
.socials a:hover {
    transform: scale(1.15) translateY(-5px);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}

.socials a:active {
    transform: scale(0.95);
}

.socials img {
    width: 30px;
    height: 30px;
    display: block;
}