body {
    margin: 0;
    font-family: "Poppins", sans-serif;

    background: linear-gradient(135deg, #fffdf7, #d8d4ad);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 460px;

    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(12px);

    border: 1.5px solid rgba(255, 255, 255, 0.7);
    border-radius: 22px;

    padding: 35px 25px;
    text-align: center;

    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}


.avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;

    border: 3px solid rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
}

.title {
    margin-top: 15px;
    color: #303030;
    font-size: 27px;
    font-weight: 600;
}

.bio {
    color: #6a6a6a;
    margin-top: -5px;
    font-size: 15px;
}

.socials img {
    width: 32px;
    height: 32px;
    opacity: 0.9;
}

.socials a {
    margin: 0 9px;
    display: inline-block;
    transition: 0.25s ease;
}

.socials a:hover {
    transform: scale(1.15) translateY(-4px);
    filter: drop-shadow(0 3px 6px rgba(0,0,0,0.15));
}

.links {
    margin-top: 25px;
}

.btn {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    margin: 10px 0;
    padding: 15px;

    border-radius: 18px;

    text-decoration: none;
    color: #2a2a2a;
    font-size: 18px;
    font-weight: 500;

    box-shadow: 0 3px 10px rgba(0,0,0,0.08);

    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-2px);
    background: white;
    box-shadow: 0 5px 14px rgba(0,0,0,0.15);
}

.btn:active {
    transform: scale(0.97);
}
